* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: url("https://files.catbox.moe/roblox_login_background.jpeg") center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: none; /* remove a camada cinza */
}

.login-box {
  position: relative;
  z-index: 1;
  background: rgba(30,30,30,0.92); /* caixa de login escura */
  width: 340px;
  padding: 28px;
  border-radius: 12px;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: #1f6cff;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#ok {
  display: none;
  color: #4dff88;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}
